a {
    padding: 15px;
    color: black;
    text-decoration-style: dotted;
    display: inline-block;
}

body {
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    text-align: center;
}

.header {
    margin: 10px 0 0 0;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(220, 194, 160);
    color: rgb(245, 232, 216)
}

.profile_image {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 50%;
}

.divider {
    border-bottom: 1px solid burlywood;
}
