body {
    width: 600px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

div {
    text-align: center;
}

#header {
    margin: 10px 0 0 0;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(220, 194, 160)
}

div#header {
    color: rgb(245, 232, 216)
}

#header2 {
    border-top: 1px solid burlywood;
}

a {
    padding: 15px;
    color: black;
    text-decoration-style: dotted;
    display: inline-block;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}